.gradle
/local.properties
/signing.properties
/.idea/
/.idea/gradle.xml
.DS_Store
/build
captures/
/app/build
*.apk
app/app.iml
app/app-release.apk
app/fabric.properties
app/src/main/assets/
app/google-services.json
