<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.happymtb.unofficial"
    android:versionCode="34"

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>    
    
    <application
        android:name=".analytics.HappyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:supportsRtl="false">

        <provider
            android:name=".database.MyContentProvider"
            android:authorities="org.happymtb.unofficial.contentprovider" >
        </provider>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
		<activity 
			android:name=".KoSObjectActivity">

            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "http://happymtb.org/annonser/” -->
                <data android:scheme="http"
                    android:host="happyride.se"
                    android:pathPrefix="/annonser/ad.php" />
                <!-- note that the leading "/" is required for pathPrefix-->
                <!-- Accepts URIs that begin with "happymtb://annonser”
                <data android:scheme="happymtb"
                      android:host="annonser" />
                -->
            </intent-filter>
		</activity>
		
		<activity 
			android:name=".PostsActivity"
			android:label="@string/app_name" >
		</activity>

        <activity
            android:name=".WebViewActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".ZoomImageActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:label="@string/main_settings" >
        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="017b9c41bf1477fee55a5831a62f03e03c202fa9" />
    </application>
</manifest>